::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-track {
    display: none;
}

html {
    height: 100%;
    font-family: Segoe UI, serif;
}

body {
    height: 100%;
    margin: 0;
}

#app {
    background-color: #232323;
}

.chosen {
    /*background-color: #3a8187;*/
    background-color: black;
    opacity: 0.9;
}

.unchosen {
    height: 50px;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

input {
    margin: 0;
    padding: 5px;
    outline: none;
    border: none;
    height: 60px;
    line-height: 55px;
    font-size: 40px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: #ffffff;
    width: 100%;
}

.icon {
    width: 40px;
    position: fixed;
    right: 14px;
    top: 8px;
}

.result {
    max-height: 250px;
    overflow-y: auto;
    user-select: none;
    cursor: default;
}

.title {
    color: #ffffff;
    font-size: 14px;
}

.subTitle {
    color: #939393;
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
