.DS_STORE
*.bak
*.log
*.out

node_modules
npm-debug.log*
dist/*

# IntelliJ project files
.idea
*.iml
out
gen

sync

.uglify
.cache-loader
.cache
eva-app/extend_plugin/Youdao/config.json

build
package
yarn.lock
*.swp
