<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
<div id="app">
    <input id="boxInput" autofocus="autofocus" onblur="onBlur()" onkeydown="onKeyDown(event)" v-model="input">
    <template v-if="queryResult.length">
        <div v-for="(item, index) of queryResult" :class="index === currIndex ? 'chosen' : 'unchosen'">
            <span class="title">{{item.title}}</span>
            <br>
            <span class="subTitle">{{item.subTitle}}</span>
        </div>
    </template>
</div>
<script>
  const {ipcRenderer} = require('electron')

  const vue = new Vue({
    el: '#app',
    data() {
      return {
        input: '',
        queryResult: [],
        currIndex: 0
      }
    },
    watch: {
      input() {
        this.queryResult = ipcRenderer.sendSync('box-input', this.input)
      }
    }
  })

  ipcRenderer.on('clear-box-input-event', () => vue.$data.input = '')

  function onBlur() {
    // ipcRenderer.send('box-blur', vue.$data.input)
  }

  function onKeyDown(e) {
    if (e.keyCode === 13) {
      ipcRenderer.send('action', vue.$data.currIndex)
      ipcRenderer.send('hide-main-window')
    }
    if (e.keyCode === 27) ipcRenderer.send('box-input-esc', vue.$data.input)

    // 方向键上
    if (e.keyCode === 38) {
      if (vue.$data.currIndex > 0) return vue.$data.currIndex--
    }
    // 方向键下
    if (e.keyCode === 40) {
      if (vue.$data.currIndex + 1 < vue.$data.queryResult.length) return vue.$data.currIndex++
    }
  }
</script>
</body>
</html>
